body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

label{
  display: block;
  color:black;
  margin-bottom: 5px;
}


h2{
  font-size:1.7rem;
  text-align: center;
}

p{
  margin-bottom: 2.5rem;
}
.rgpd_button{
background: none;
border: 0;
  border-bottom-color: currentcolor;
  border-bottom-style: none;
  border-bottom-width: 0px;
color: inherit;
cursor: default;
font: inherit;
  line-height: inherit;
line-height: normal;
overflow: visible;
padding: 0;
cursor: pointer;
border-bottom: 1px solid black;
}